body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
color: #00e5ff;    
}

/* .class */
.mainParagraph 
{
font-weight: bold;
color: blueviolet;

}

/* #id */
#myID
{
color: chartreuse;

}


.mainNav a {

 color: red !important;   
}

.mainNav, .mainParagraph{

    background-color: beige;

}